<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--User Application and configuration property settings go here-->
    <add key="DBConnectionString" value="Provider=Microsoft.ACE.OLEDB.12.0;Password=;User ID =;Data Source="/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
